<h1>編集ページ</h1>
<p>名前とメールアドレスを変更できるよ</p>
<%= form_for @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit "更新" %>
<% end %>